<div class="flex-row">
    <div class="flex-20p">
        <div class="exposition-title">
            <button mat-icon-button onclick="history.back()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <span>Expozice "{{ expositionName }}"</span>
        </div>
        <app-exposition-detail #detailComponent [expositionId]="this.expositionId"></app-exposition-detail>
        <button mat-raised-button (click)="save()" color="primary" style="margin: 10px; width: 95%;">Uložit
            Expozici</button>
        <button mat-raised-button (click)="upload()" style="margin: 10px; width: 95%;">Spustit Expozici</button>
    </div>
    <div class="flex-1">
        <app-package-graph #graphComponent [expositionId]="this.expositionId"
            (onDeviceSelected)="selectExhibit($event)"></app-package-graph>
    </div>
    <div class="flex-25p">
        <div class="flex-col">
            <div class="flex-30p">
                <mat-tab-group #deviceTabGroup>
                    <mat-tab label="Zvolené zařízení">
                        <div *ngIf="!selectedExhibits">
                            <h2>
                                Žádné zařízení není vybráno.
                            </h2>
                        </div>
                        <div *ngIf="selectedExhibits">
                            <mat-form-field class="vertical-margin-small full-width">
                                <mat-label>Startovní balíček</mat-label>
                                <mat-select (selectionChange)="selectStartupPackage($event)" [value]="startupPackageId">
                                    <mat-option *ngFor="let pkg of selectedPackages" [value]="pkg.id">
                                        {{pkg.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="flex-row justify-center gap-16 vertical-margin-small">
                                <button mat-raised-button (click)="selectSensors()"><mat-icon>sensors</mat-icon>Aktivní
                                    senzory</button>
                                <button mat-raised-button
                                    (click)="selectPackage()"><mat-icon>inventory_2</mat-icon>Přidat balíček</button>
                            </div>
                            <mat-divider></mat-divider>
                            <h4>Aktivní balíčky</h4>
                            <mat-tab-group #packageTabGroup>
                                <mat-tab *ngFor="let overlay of selectedOverlays"
                                    [label]="packageNameForOverlay(overlay)">
                                    <app-overlay-detail [overlay]="overlay" (onAddCustomInput)="addCustomInput($event)"
                                        (onAddCustomOutput)="addCustomOutput($event)"
                                        (onOverlayChanged)="overlayChanged($event)"
                                        (onSettingsChanged)="settingsChanged($event)"></app-overlay-detail>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </mat-tab>
                    <mat-tab label="Dostupná zařízení">
                        <app-device-list [showActions]="false" [showPending]="false"
                            (onDeviceSelected)="addSingleDevice($event)"></app-device-list>
                    </mat-tab>
                    <mat-tab label="Synchronizovaná skupina">
                        <app-device-list [showActions]="false" [checkBoxes]="true"
                            (onDeviceChecked)="deviceCheckChanged($event)"></app-device-list>
                        <p class="horizontal-margin-small">
                            <button mat-raised-button [disabled]="checkedDevicesForMultidevice.length < 2"
                                (click)="addMultiDevice()">Přidat synchronizovanou
                                skupinu</button>
                        </p>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>