.card-style {
    object-fit: cover;
    width: 90%;
    overflow: auto;
}

.flex-fill-line {
    display: flex;
    flex: 1 1 auto;
}

.highlight:hover {
    cursor: pointer;
    background-color: lightgray;
}